node_modules
*.log
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
build/
DerivedData/
*.pbxuser
*.mode1v3
xcuserdata
xcuserdata/
*.moved-aside
*.pid
app-cov
coverage.html
public/bower_components
bower_components
reports
.tmp
.sass-cache
.idea
TEST-all.html
coverage.html
reports
__pycache__
*.log
venv
*.pyc
data.sqlite
.log.gradle
/build/
/out/
/log/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/