node_modules
*.log
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
build/
DerivedData/
*.pbxuser
*.mode1v3
xcuserdata
xcuserdata/
*.moved-aside
*.pid
app-cov
coverage.html
public/bower_components
bower_components
reports
.tmp
.sass-cache
.idea
TEST-all.html
coverage.html
reports
__pycache__
*.log
venv
*.pyc
data.sqlite
.log

### Java
app_java/.gradle
app_java/build/
app_java/out/
app_java/log/
app_java/external-config/
!app_java/gradle/wrapper/gradle-wrapper.jar
app_java/boxcontrols.txt
app_java/heroku-logs.txt

### IntelliJ IDEA ###
app_java/.idea
app_java/*.iml
